.App {
  display: flex;
  flex-direction:column;
 
  background-color: whitesmoke;
  margin: 1rem;
  border-radius: 0.6rem;
  border: 1px solid lightcoral;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}